#outages {
  margin-top: 0.2em;
}

#notices-block {
  width: auto;
}
div.notices h2 {
  font-weight: bold;
  border-bottom: 3px solid #000000;
  margin-bottom: 0;
  display: block;
  font-family: "EksjaExtremesRegular",Arial, Helvetica, Verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-left:3px;
  line-height:.64em;
  *line-height:.6em;
  *padding-top:.1em;
  color:#000;
  text-decoration:none;
}

div.notices .notices-rss-icon {
  float: right;
  margin: 5px;
}

div.notices h2 a:hover {
  border-bottom-color:#d85a1a;
  color:#d85a1a;
  background-color:transparent;
}

div.notices ul {
  margin-bottom:0;
  margin-top: 0;
  margin-left: 5px;
  padding-top: 8px;
  padding-left: 0px;
}

div.notices li {
  border-bottom: 2px dotted  #888888;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none outside none;
}

div.notices a {
  color:#d85a1a;
  background-color:transparent;
  text-decoration: none;
}

div.notices a:hover {
  text-decoration: underline;
}

div.notices-body {
  background-color: #ffffff;
  padding-right:0.5em;
  padding-bottom:2em;
}

div.notices {
  clear:both;
  padding-bottom: 15px;
}


div.notices .view-more {
  position: relative; 
  float: right;
  font-size: 0.8em;
  text-decoration: underline;
}
